* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins" !important;
}

body {
  /* margin: 20px; */

  background-color: #262b31;
  color: #ffffff;
}

@font-face {
  font-family: "Poppins";
  src: url(../../public/fonts/Poppins-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins Bold";
  src: url(../../public/fonts/Poppins-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins Italic";
  src: url(../../public/fonts/Poppins-Italic.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
